* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Titan One', cursive;
}

.header {
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to bottom right, rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.3)), url('Toplum-5.0.jpg');
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: 'Gloock', serif;
    text-decoration: none;
    font-size: 16px;
    color: antiquewhite;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    font-family: 'Gloock', serif;
    position: relative;
}

.nav-link ul li a {
    color: aquamarine;
    text-decoration: none;
    font-size: 13px;
}

.nav-link ul li:after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-link ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}

nav .side {
    display: none;
}



.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 60px;
    color: #f0e7e7;
}

.text-box p {
    font-size: 15px;
    margin: 10px 0px 40px;
    color: #f0e7e7;
}

.hero-btn {
    border: 1px solid antiquewhite;
    text-decoration: none;
    padding: 12px 30px;
    color: #f0e7e7;
    font-size: 13px;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .text-box h1 {
        font-size: 25px;
    }

    nav .side {
        display: block;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-link {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    .nav-link ul li {
        display: block;
    }

    .nav-link ul {
        padding: 30px;
    }

    #logo {
        font-size: 28px;
        margin: 16px;

    }
}

.products {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

p {
    color: #777;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

.row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.products-col {
    flex-basis: 30%;
    background: #f0e7e7;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 20px 12px;
    margin: 2px;
    box-sizing: border-box;
    transition: 1s;
}

.products-col:hover {
    box-shadow: 0 0 20px 0 rgba(34, 33, 33, 0.3);
}

h3 {
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

@media (max-width:750px) {
    .row {
        flex-direction: column;
    }

}

.campus {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;

}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    height: 100%;
    display: block;
}

.layer {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 226, 0.6);
}

.layer h3 {
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    color: black;
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0, 5s;

}

.layer:hover h3 {
    opacity: 1;
    bottom: 50%;
}

.services {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}

.services-col {
    flex-basis: 32%;
    border-radius: 10px;
    /* margin-bottom: 30px; */

}

.services-col img {
    width: 100%;
    height: 66%;
    border-radius: 10px;
    text-align: center;
}

.comments {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.comments-col {
    flex-basis: 45%;
    border-radius: 10px;
    background: #fff3f3;
    padding: 25px;
    margin: 10px;
    display: flex;
    margin-top: 5%;
}

.comments-col img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
}

.comments-col h3 {
    margin-top: 15px;
    text-align: left;
}

.abone {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    padding: 100px 0;
    text-align: center;
    border-radius: 10px;
}

.abone h2 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width:700px) {
    .abone h2 {
        font-size: 25px;
    }
}

footer {
    text-align: center;
    /* width: 100px; */
    padding: 30px;
}

.icon {
    font-size: 18px;
    margin: 0;
    padding: 0;

}

footer a {
    text-decoration: none;
    margin: 0;
    padding: 0;

}